body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:28px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:52px;
  width:380px;
  height:28px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:492px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:83px;
  width:380px;
  height:492px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:93px;
  width:158px;
  height:40px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:28px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:102px;
  width:208px;
  height:28px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1015px;
  width:380px;
  height:41px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1028px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1028px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:379px;
  width:85px;
  height:85px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:401px;
  width:37px;
  height:19px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:105px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:107px;
  width:185px;
  height:16px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:115px;
  width:0px;
  height:0px;
}
#u813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u813_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-9px;
  width:18px;
  height:18px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:158px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:160px;
  width:263px;
  height:16px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:168px;
  width:0px;
  height:0px;
}
#u816_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:319px;
  height:8px;
}
#u816_seg1 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-9px;
  width:18px;
  height:18px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:204px;
  width:171px;
  height:16px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:202px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:245px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:299px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:327px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:247px;
  width:199px;
  height:16px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:290px;
  width:73px;
  height:16px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:333px;
  width:373px;
  height:16px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:255px;
  width:0px;
  height:0px;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:230px;
  height:8px;
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:-9px;
  width:18px;
  height:18px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:309px;
  width:0px;
  height:0px;
}
#u826_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:302px;
  height:8px;
}
#u826_seg1 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:-15px;
  width:8px;
  height:19px;
}
#u826_seg2 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:-15px;
  width:21px;
  height:8px;
}
#u826_seg3 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-20px;
  width:18px;
  height:18px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:337px;
  width:0px;
  height:0px;
}
#u827_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u827_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:12px;
}
#u827_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:21px;
  height:8px;
}
#u827_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-5px;
  width:18px;
  height:18px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:384px;
  width:73px;
  height:16px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:382px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:392px;
  width:0px;
  height:0px;
}
#u830_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u830_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-9px;
  width:18px;
  height:18px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:422px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:583px;
  width:380px;
  height:422px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:212px;
  width:0px;
  height:0px;
}
#u832_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u832_seg1 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:-9px;
  width:18px;
  height:18px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:432px;
  width:375px;
  height:16px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:474px;
  width:463px;
  height:84px;
  line-height:28px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
