body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:866px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:736px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:52px;
  width:340px;
  height:736px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:81px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:83px;
  width:439px;
  height:16px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  white-space:nowrap;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:91px;
  width:0px;
  height:0px;
}
#u614_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u614_seg1 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-9px;
  width:18px;
  height:18px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:123px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:125px;
  width:283px;
  height:16px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:133px;
  width:0px;
  height:0px;
}
#u617_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u617_seg1 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-9px;
  width:18px;
  height:18px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:311px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:169px;
  width:419px;
  height:16px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:390px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:212px;
  width:143px;
  height:80px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:321px;
  width:0px;
  height:0px;
}
#u622_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:186px;
  height:8px;
}
#u622_seg1 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-148px;
  width:8px;
  height:152px;
}
#u622_seg2 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-148px;
  width:52px;
  height:8px;
}
#u622_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-153px;
  width:18px;
  height:18px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:400px;
  width:0px;
  height:0px;
}
#u623_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u623_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:206px;
  height:8px;
}
#u623_seg2 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-152px;
  width:8px;
  height:156px;
}
#u623_seg3 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-152px;
  width:36px;
  height:8px;
}
#u623_seg4 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-157px;
  width:18px;
  height:18px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:325px;
  width:421px;
  height:64px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
