body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:704px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:64px;
  width:340px;
  height:704px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:112px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:136px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:198px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:412px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:527px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:741px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:114px;
  width:551px;
  height:16px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  white-space:nowrap;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:157px;
  width:73px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:200px;
  width:129px;
  height:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:243px;
  width:255px;
  height:16px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:396px;
  width:281px;
  height:16px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:649px;
  width:328px;
  height:16px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:965px;
  width:355px;
  height:16px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  white-space:nowrap;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1008px;
  width:129px;
  height:16px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1051px;
  width:255px;
  height:16px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1094px;
  width:425px;
  height:32px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:122px;
  width:0px;
  height:0px;
}
#u518_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:367px;
  height:8px;
}
#u518_seg1 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:-9px;
  width:18px;
  height:18px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:146px;
  width:0px;
  height:0px;
}
#u519_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u519_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:27px;
}
#u519_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:15px;
  width:21px;
  height:8px;
}
#u519_seg3 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:10px;
  width:18px;
  height:18px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:208px;
  width:0px;
  height:0px;
}
#u520_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u520_seg1 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-9px;
  width:18px;
  height:18px;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:422px;
  width:0px;
  height:0px;
}
#u521_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:173px;
  height:8px;
}
#u521_seg1 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-175px;
  width:8px;
  height:179px;
}
#u521_seg2 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-175px;
  width:65px;
  height:8px;
}
#u521_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-180px;
  width:18px;
  height:18px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:537px;
  width:0px;
  height:0px;
}
#u522_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u522_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-137px;
  width:8px;
  height:141px;
}
#u522_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-137px;
  width:54px;
  height:8px;
}
#u522_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-142px;
  width:18px;
  height:18px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:751px;
  width:0px;
  height:0px;
}
#u523_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u523_seg1 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-98px;
  width:8px;
  height:102px;
}
#u523_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-98px;
  width:39px;
  height:8px;
}
#u523_seg3 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-103px;
  width:18px;
  height:18px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:93px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:276px;
  width:340px;
  height:93px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:205px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:434px;
  width:340px;
  height:205px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:736px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:802px;
  width:340px;
  height:736px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:963px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1032px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1095px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1195px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:1272px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:1371px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:973px;
  width:0px;
  height:0px;
}
#u533_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u533_seg1 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-9px;
  width:18px;
  height:18px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1160px;
  width:179px;
  height:16px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1339px;
  width:81px;
  height:16px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:123px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1195px;
  width:226px;
  height:123px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1042px;
  width:0px;
  height:0px;
}
#u537_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u537_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-30px;
  width:8px;
  height:34px;
}
#u537_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-30px;
  width:58px;
  height:8px;
}
#u537_seg3 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-35px;
  width:18px;
  height:18px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1105px;
  width:0px;
  height:0px;
}
#u538_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u538_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-50px;
  width:8px;
  height:54px;
}
#u538_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-50px;
  width:48px;
  height:8px;
}
#u538_seg3 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-55px;
  width:18px;
  height:18px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1205px;
  width:0px;
  height:0px;
}
#u539_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u539_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-99px;
  width:8px;
  height:103px;
}
#u539_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-99px;
  width:41px;
  height:8px;
}
#u539_seg3 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:-104px;
  width:18px;
  height:18px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1282px;
  width:0px;
  height:0px;
}
#u540_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:209px;
  height:8px;
}
#u540_seg1 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-118px;
  width:8px;
  height:122px;
}
#u540_seg2 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-118px;
  width:29px;
  height:8px;
}
#u540_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-123px;
  width:18px;
  height:18px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1381px;
  width:0px;
  height:0px;
}
#u541_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:210px;
  height:8px;
}
#u541_seg1 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-38px;
  width:8px;
  height:42px;
}
#u541_seg2 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-38px;
  width:28px;
  height:8px;
}
#u541_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-43px;
  width:18px;
  height:18px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
