body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:737px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:52px;
  width:340px;
  height:737px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:104px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:106px;
  width:101px;
  height:16px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:114px;
  width:0px;
  height:0px;
}
#u699_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u699_seg1 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-9px;
  width:18px;
  height:18px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:218px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:340px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:149px;
  width:72px;
  height:16px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:190px;
  width:101px;
  height:16px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:228px;
  width:0px;
  height:0px;
}
#u704_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:183px;
  height:8px;
}
#u704_seg1 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-75px;
  width:8px;
  height:79px;
}
#u704_seg2 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-75px;
  width:55px;
  height:8px;
}
#u704_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-80px;
  width:18px;
  height:18px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:350px;
  width:0px;
  height:0px;
}
#u705_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u705_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:149px;
  height:8px;
}
#u705_seg2 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-156px;
  width:8px;
  height:159px;
}
#u705_seg3 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-156px;
  width:40px;
  height:8px;
}
#u705_seg4 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-161px;
  width:18px;
  height:18px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:231px;
  width:73px;
  height:16px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:712px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:722px;
  width:0px;
  height:0px;
}
#u708_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u708_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-487px;
  width:8px;
  height:491px;
}
#u708_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-487px;
  width:21px;
  height:8px;
}
#u708_seg3 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-492px;
  width:18px;
  height:18px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
