body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:736px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:52px;
  width:340px;
  height:736px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:104px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:106px;
  width:226px;
  height:16px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:114px;
  width:0px;
  height:0px;
}
#u662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:364px;
  height:8px;
}
#u662_seg1 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-9px;
  width:18px;
  height:18px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:147px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:188px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:149px;
  width:105px;
  height:16px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:190px;
  width:105px;
  height:16px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:157px;
  width:0px;
  height:0px;
}
#u667_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u667_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-9px;
  width:18px;
  height:18px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:198px;
  width:0px;
  height:0px;
}
#u668_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u668_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-9px;
  width:18px;
  height:18px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:730px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:231px;
  width:73px;
  height:16px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:740px;
  width:0px;
  height:0px;
}
#u671_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u671_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:137px;
  height:8px;
}
#u671_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-505px;
  width:8px;
  height:508px;
}
#u671_seg3 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-505px;
  width:49px;
  height:8px;
}
#u671_seg4 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:-510px;
  width:18px;
  height:18px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-216px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
